@model ToneHouseMvc.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<link href="~/stamina/css/Login_style.css" rel="stylesheet" />
        <div>
            <div id="LoginForm">
                <div class="container-fluid">
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Log In</h2>
                                <p>Please enter your email and password</p>
                            </div>
                            @*--------------------------------------------Form Starts----------------------------------------------- *@
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @if (ViewBag.emailerror != "")
                                    {
                                        @*------------------------------If emailid does not exists----------------------------------------*@
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <p style="color:orangered;padding-left:10px;">@ViewBag.emailerror</p>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input type="submit" value="Login" class="btn btn-default" />
                                        </div>
                                    </div>

                                </div>
                            }
                            @*-----------------------------------------Form Ends------------------------------------------------------ *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
       